
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sentences</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    body {
      background-color: #489FB5;
    }

    #myCanvas {
      background-color: rgb(247, 247, 247);
      border: 1px solid black;
      width: 100%;
      height: 1000px;
      margin-top: 5%;
      margin-left: 25px;
    }

    .container-fluid {
      margin-top: 20px;
      margin-left: 25px;
      background-color: #a892c9;
      padding-bottom: 30px;
    }

    .draw {
      background-color: rgb(238, 230, 247);
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-top: 20px;
      margin-right: 5%;
    }
    .draw-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }

    .asset-library {
      margin: 30px;
      margin-top: 20px;
      padding-top: 20px;
      font-size: 40px;
      color: #f1f0f0;
      font-weight: bold;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .asset-name {
      font-size: 25px;
    }
    .asset {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }
    .row {
      width: 100%;
      margin-left: 5%;
    }
    .col-3 {
      margin: 20px;
      height: 150px;
      background-color: rgb(238, 230, 247);
    }
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->

    <canvas id="myCanvas"></canvas>
    <div class="container-fluid">
      <div class="row">
      <div class="asset-library">Asset Library</div>
      <div class="ml-auto draw" id="drawing"><img class="draw-icon" src="{% static 'draw/assets/draw.png' %}"></div>
      </div>
      <div class="row">
        <div class="col-3" id="rectangle-sm">
          <div class="asset-name">Rectangle-sm</div>
          <img class="asset"src="{% static 'draw/assets/asset-1.png' %}">
        </div>
        <div class="col-3" id="circle-sm">
          <div class="asset-name">Circle-sm</div>
          <img class="asset"src="{% static 'draw/assets/asset-2.png' %}">
        </div>
        <div class="col-3" id="rectangle-lg">
          <div class="asset-name">Rectangle-lg</div>
          <img class="asset"src="{% static 'draw/assets/asset-3.png' %}">
        </div>
      </div>
      <div class="row">
        <div class="col-3" id="circle-lg">
          <div class="asset-name">Circle-lg</div>
          <img class="asset"src="{% static 'draw/asset/asset-4.png' %}">
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
    var uid = Date.now() % 10000;
    var colorCollection = ["red", "blue", "green", "black", "orange", "purple"];
    const color = paper.Color.random()
    var users = {"uid": uid, "path": path};
    path.strokeColor = color;
    path.fillColor = null;
    var toolType;

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var query = window.location.search;
    var urlParams = new URLSearchParams(query);
    var screenSize = urlParams.get('size');

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    // switching between tools
    $("#drawing").click(function() {
         toolType = 1;
      });
    $("#rectangle-sm").click(function() {
         toolType = 2;
      });
    $("#circle-sm").click(function() {
         toolType = 3;
      });
    $("#rectangle-lg").click(function() {
         toolType = 4;
      });
    $("#circle-lg").click(function() {
         toolType = 5;
      });

    // // path sending
    //  function pathSend() {
    //    // segments, firstSegment, lastSegment, curves, firstCurve, lastCurve, closed, length, area
    //    socket.send("{\"segments\" : " + event.path.segments +
    //    ", \"firstSegment\" : " + event.path.firstSegment +
    //    ", \"lastSegment\" : " + event.path.lastSegment +
    //    ", \"curves\" : " + event.path.curves +
    //    ", \"firstCurve\" : " + event.path.firstCurve +
    //    ", \"lastCurve\" : " + event.path.lastCurve +
    //    ", \"closed\" : " + event.path.closed +
    //    ", \"length\" : " + event.path.length +
    //    ", \"area\" : " + event.path.area +
    //    ", \"uid\" : " + String(uid) +
    //    ", \"color\" : \"" + String(color) +
    //    "\", \"size\" : \"" + String(screenSize) +
    //    "\"}"));
    //    console.log("Sent: " + "{\"segments\" : " + event.path.segments + ", \"uid\" : " + uid + "}");
    // }

    // Send Rectangle
    function recSend(event, width, height) {
      var rec = {
        "point": event.point,
        "width": width,
        "height": height,
        "uid": String(uid),
        "color": String(color)
      }
      socket.send(JSON.stringify(rec));
    }

    // Send Circle
    function circSend(event, radius) {
      var circle = {
        "center": event.point,
        "radius": radius,
        "uid": String(uid),
        "color": String(color)
      }
      socket.send(JSON.stringify(circle));
    }

    // Send Point
    function pointSend(event) {
      // var point = event.point;
      var point = {
        "x": event.point.x,
        "y": event.point.y,
        "length": event.point.length,
        "angle": event.point.angle,
        "angleInRadians": event.point.angleInRadians,
        "quadrant": event.point.quadrant,
        "uid": String(uid),
        "color": String(color)
      }
      socket.send(JSON.stringify(point));
    }


    // Handle Types on Mouse Click
    tool.onMouseDown = function(event) {
      if (toolType == 1) { // draw
        path = new paper.Path();
        //path.fillColor = null;
        //path.add(event.point);
      }
      else if (toolType == 2) { // rectangle
        var rectangle = new paper.Path.Rectangle({
            point: event.point,
            size: [200,100],
            fillColor: color //temporary fillColor
            });
        recSend(event, 200, 100);

      } else if (toolType == 3) { // circle
        var circle = new paper.Path.Circle({
            center: event.point,
            radius: 40,
            fillColor: color //temporary fillColor
        })
        circSend(event, 40);

      } else if (toolType == 4) { // rectangle
        var rectangle = new paper.Path.Rectangle({
            point: event.point,
            size: [300,200],
            fillColor: color //temporary fillColor
            });
        recSend(event, 300, 200);

      } else if (toolType == 5) {
        var circle = new paper.Path.Circle({
          center: event.point,
          radius: 80,
          fillColor: color
        })
        circSend(event, 80);
      }
    }

    // Send drawing points
    tool.onMouseDrag = function(event) { //http://paperjs.org/reference/tool/ path examples
      if (toolType == 1) {
        path.add(event.point);
        users[uid] = path;
        // You may need to add code here if you want to pass any other information.
        // socket.send("{\"x\" : " + event.point.x +
        // ", \"y\" : " + event.point.y +
        // ", \"length\" : " + event.point.length +
        // ", \"angle\" : " + event.point.angle +
        // ", \"angleInRadians\" : " + event.point.angleInRadians +
        // ", \"quadrant\" : " + event.point.quadrant +
        // ", \"uid\" : " + String(uid) +
        // ", \"color\" : \"" + String(color) +
        // "\", \"size\" : \"" + String(screenSize) +
        // "\"}");
        pointSend(event);
        console.log("Sent: " + "{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + "}");
      }
    }

    // Handle Receives
    socket.onmessage = function(receivedMessage) {
      var received = JSON.parse(receivedMessage.data);
      console.log("Received: " + JSON.stringify(received));

      // if (toolType == 1) { // draw
        if (received.uid != uid) {
          var theirPath;
          if (users.hasOwnProperty(received.uid)) {
              theirPath = users[received.uid];
              theirPath.strokeColor = received.color;
          } else {
              theirPath = new paper.Path();
              theirPath.strokeColor = colorCollection[Math.floor(Math.random() * colorCollection.length)];
          }
        var theirPoint = new paper.Point({
            x: received.x,
            y: received.y,
            length: received.length,
            angle: received.angle,
            angleInRadians: received.angleInRadians,
            quadrant: received.quadrant,
        });
        if (received.uid != uid) {
          theirPath.add(theirPoint);
          }
        users[received.uid] = theirPath;
      }
      //}

      //else if (toolType == 2 || toolType == 4) {
      //   if (received.uid !== uid) {
      //     var theirShape;
      //     if (users.hasOwnProperty(received.uid)) {
      //         theirShape = users[received.uid];
      //         theirShape.fillColor = received.color;
      //     } else {
      //         theirShape = new paper.Path();
      //         theirShape.fillColor = paper.Color.random();
      //     }
      //
      //   var theirRec = new paper.Path.Rectangle({
      //     point:received.point,
      //     size: [received.width, received.height],
      //   })
      //   if (received.uid != uid) {
      //     theirShape.add(theirRec);
      //     users[received.uid] = theirShape;
      //   }
      // }
    //}
  }

    //   if (received.uid !== uid) {
    //     var theirPath;
    //     if (users.hasOwnProperty(received.uid)) {
    //         theirPath = users[received.uid];
    //         theirPath.strokeColor = received.color;
    //     } else {
    //         theirPath = new paper.Path();
    //         theirPath.strokeColor = colorCollection[Math.floor(Math.random() * colorCollection.length)];
    //     }
    //     var theirPoint = new paper.Point({
    //         x: received.x,
    //         y: received.y,
    //         length: received.length,
    //         angle: received.angle,
    //         angleInRadians: received.angleInRadians,
    //         quadrant: received.quadrant,
    //         //selected: received.selected
    //     });
    //     theirPath.add(theirPoint);
    //     users[received.uid] = theirPath;
    //    }
    // }

      // // You will probably want to add some code here to draw more lines.
      //   if (received.size == "small" && screenSize == "large"){
      //     if (received.uid !== uid) {
      //       var theirPath;
      //       if (users.hasOwnProperty(received.uid)) {
      //           theirPath = users[received.uid];
      //           theirPath.strokeColor = received.color;
      //       } else {
      //           theirPath = new paper.Path();
      //           theirPath.strokeColor = colorCollection[Math.floor(Math.random() * colorCollection.length)];
      //       }
      //     var theirPoint = new paper.Point({
      //         x: received.x,
      //         y: received.y,
      //         length: received.length,
      //         angle: received.angle,
      //         angleInRadians: received.angleInRadians,
      //         quadrant: received.quadrant,
      //         //selected: received.selected
      //     });
      //     theirPath.add(theirPoint);
      //     users[received.uid] = theirPath;
      //   }
      // }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
